$pink: #FF3459;
$blue-light: #4252d1;
$blue-dark: #302e5a;
$bg-light: #303a53;
$bg-dark: #272d3d;
$light: #fff;
$btn-blue: #0048ff;
$secondary: #bdbbbb;
$error: red;
$success: rgb(12, 228, 12);