@import '../../styles/basic';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  max-width: 928px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: $content;

  padding: 28px 16px 0;

  @include onTablet {
    margin-bottom: 116px;
    padding: 28px 16px 0;
  }

  &__logo {
    width: 101px;
    height: 32px;
    margin-left: 14px;

    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    @include onTablet {
      width: 182px;
      height: 56px;
    }
  }

  &__date,
  &__duration {
    position: relative;
    @include flex-center;

    background-color: $blue-dark;
    width: 84px;
    height: 24px;
    border-radius: 6px;

    font-weight: 600;
    font-size: 11px;

    @include onTablet {
      width: 141px;
      height: 40px;

      font-size: 14px;
    }

    &::before {
      content: '';
      width: 13px;
      height: 13px;
      margin-right: 4px;
    }
  }

  &__date {
    margin-left: auto;

    &::before {
      background-image: url(../../images/icons/calendar_today.svg);
    }
  }

  &__duration {
    margin-left: 6px;

    @include onTablet {
      margin-left: 18px;
    }

    &::before {
      background-image: url(../../images/icons/gg_time.svg);
    }
  }
}
